.feedback-question-card {
    padding: 0.75rem !important;
}

.feedback-form-group{
    margin-bottom: 0.50rem !important;
}
.error-msg {
    color: red;
}
.color-white{
    color: #ffffff;
}

.feedback-question  {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.75rem;
}

@media only screen and (max-width: 768px) {
    .feedback-question label {        
        padding-top: 0.25rem;
    }
}

.feedback-question label {
    display: flex;
    align-items: center;
    line-height: normal;
    padding-left:0.25rem;
}
.feedback-question input[type=radio]{
    flex: none;
    line-height: normal;
    /* width: 30px; height: 30px; */
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}
.feedback-question input[type=checkbox]{
    flex: none;
    line-height: normal;
     /* Double-sized Checkboxes */
     -ms-transform: scale(1.5); /* IE */
     -moz-transform: scale(1.5); /* FF */
     -webkit-transform: scale(1.5); /* Safari and Chrome */
     -o-transform: scale(1.5); /* Opera */
     padding: 10px;
}

.instructor_feedback_button {
    cursor: pointer;
}

.rating {
    float: right;
    background-image: url(../../_assets/imgs/star-rating.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 32px;
    text-align: center;
    padding-top: 6px;
    font-weight: bold;
    color: darkcyan;
  }
